
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.box{
max-height: 897px;
margin: 250px auto;
width: 336px;
height: auto;
border: 1px solid #C4C4C4;
border-radius: 10px;

}

.yellow{
border-top-left-radius: 10px;
border-top-right-radius: 10px;
width: 336px;
height: 28px;
background: #FFDC40;
margin-bottom: 13px;
}
.title{
width: 198px;
height: 34px;
margin: 0 auto;
margin-bottom: 24px;
font-style: normal;
font-weight: 900;
font-size: 26px;
line-height: 30px;
text-align: center;
text-transform: capitalize;
color: #000000;
}
.sorting{
height: 15px;
display: flex;
justify-content:flex-end;
margin-bottom: 12px;
cursor: pointer;

}
.myInput{
    width: 100%;
height: 40px;
border: none;
}
.myInput:focus{
    outline: none;
}
.filter{
    margin-right: 30px;
}
.add{
    cursor: pointer;
width: 150px;
height: 42px;
background: #833AE0;
border-radius: 71px;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
margin:0 auto;
border: none;
margin-bottom: 19px;
}
.plus{
width: 42px;
height: 42px;
background: #9953F1;
border-radius: 71px;
display: flex;
justify-content: center;
align-items: center;
}
.enter{  
size:14px;
line-height: 16.41px;
display: flex;
align-items: center;
text-align: center;
color: white;
margin-left: 10px;
}

.clear{
    cursor: pointer;
}
.clear:hover{
    content: url("ToDoImg/Group 70.svg");
}
.sort{
    cursor: pointer;
    margin-right: 30px;
}

#todos{
    max-height: 850px;
    /* overflow: auto; */
    border: 1px solid #C4C4C4;
    width: 286px;
    border-radius: 10px;
    margin: 0 auto;
    padding: 0 10px;
   margin-bottom: 18px;
    }
    #todo{
        display: flex;
        justify-content: space-between;
    }
